*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar Styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    background: cadetblue;
    padding: 20px 0;
    transition: all 0.3s ease;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}

.navbar .logo a span{
    color: black;
    transition: all 0.3s ease;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin-left: 30px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;
}

/* Home Section Styling */
.home{
    display: flex;
    background-color: #111;
    height: 100vh;
    background-attachment: fixed;
    color: #fff;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 35px;
    font-weight: 500;
}

.home .home-content .text-2{
   font-size: 60px;
   font-weight: 600;
   margin-left: -3px;
}

.home .home-content .text-3{
   font-size: 40px;
   margin: 5px 0;
}

.home .home-content .text-3 span{
    color: cadetblue;
    font-weight: 800;
}

